<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Website</title>
    <link rel="icon" href="~/images/logo2.png" type="image/png">
    

    <link rel="stylesheet" href="~/css/style.css">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Link -->


    <!-- Font Awesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Font Awesome Cdn -->


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
</head>
<body>
    <div>
        <div class="container-fluid  ">
            <div class="container ">             
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home" id="logo"><span>T</span>ravel</a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-danger"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" asp-action="Index" asp-controller="Home" >Trang Chủ</a>
                                </li>
                             
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Tour">Du Lịch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Cart">Chuyến Đi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"asp-action="Index" asp-controller="Galary">Bộ Sưu Tập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">Đối Tác</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Contact">Liên Hệ</a>
                                </li>
                                <partial name="_LoginPartial">
                            </ul>
                           @*  <form class="d-flex" asp-action="Search" asp-controller="Tour">
                                <input id="searchText" type="search" class="form-control p-3" placeholder="TimKiem" aria-describedby="search-icon-1">
                                <span id="searchButton" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </form> *@
                        </div>
                       
                    </div>
                </nav>
            </div>
        </div>
        <div >
            @RenderBody()
        </div>

        @await Html.PartialAsync("_LayoutFooter")
    </div>






    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#searchButton").click(function () {
                let url = '/Tour/Search?query=' + $("#searchText").val();
                window.location.href = url;
            });
        }
        );
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Kiểm tra trạng thái đăng nhập khi người dùng thao tác
            $("#cart-link").click(function (event) {
                event.preventDefault(); // Ngăn chặn sự kiện mặc định khi người dùng nhấp vào liên kết

                $.ajax({
                    url: "/Account/CheckLoginStatus", // Đường dẫn tới action trong controller để kiểm tra trạng thái đăng nhập
                    type: "GET",
                    success: function (response) {
                        if (response.loggedIn) {
                            // Nếu người dùng đã đăng nhập, chuyển hướng đến trang index của giỏ hàng
                            window.location.href = "/Cart/Index";
                        } else {
                            // Nếu người dùng chưa đăng nhập, hiển thị thông báo hoặc chuyển hướng đến trang đăng nhập/đăng ký
                            alert("Please log in or register to access the cart.");
                            window.location.href = "Identity/Account/Login";
                            // window.location.href = "Identity/Account/Register";

                        }
                    },
                    error: function () {
                        alert("An error occurred while checking login status.");
                    }
                });
            });
        });
    </script>

</body>
</html>