<section id="footer">
    <!-- Footer Start -->
   
        <h1><span>T</span>ravel</h1>
        <p>Có Làm thì mới có ăn</p>
        <div class="social-links">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-pinterest-p"></i>
        </div>
        <div class="credit">
            <p>Copy right 20224 Công Ty Công Nghệ Hutech<a href="#">Connect Me</a></p>
        </div>
    <!-- Footer End -->

</section>