
<!-- Home Section Start -->
<div class="home">
    <div class="content">
        <h5>Welcome To Viet Nam</h5>
        <h1>Visit <span class="changecontent"></span></h1>
        <a href="#book">Đặt chuyến du lịch</a>
    </div>
</div>
<!-- Home Section End -->

<!-- Section Packages Start -->
<div class="row" style="margin-top: 30px;">
    @await Component.InvokeAsync("GoiY")
</div>

<!-- Section Packages End -->
<!-- Section Services Start -->
<section class="services" id="services">
    <div class="container">

        <div class="main-txt">
            <h1><span>D</span>ịch <span>V</span>ụ</h1>
        </div>

        <div class="row" style="margin-top: 30px;">

            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-hotel"></i>
                    <div class="card-body">
                        <h3> Hotel</h3>
                        <p>Comming Soon</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-utensils"></i>
                    <div class="card-body">
                        <h3>Food & Drinks</h3>
                        <p>Comming Soon</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-bullhorn"></i>
                    <div class="card-body">
                        <h3>Safty Guide</h3>
                        <p>Comming Soon</p>
                    </div>
                </div>

            </div>



        </div>


        <div class="row" style="margin-top: 30px;">

            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-globe-asia"></i>
                    <div class="card-body">
                        <h3>Around The World</h3>
                        <p>Comming Soon</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-plane"></i>
                    <div class="card-body">
                        <h3>Fastest Travel</h3>
                        <p>Comming Soon</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-hiking"></i>
                    <div class="card-body">
                        <h3>Adventures</h3>
                        <p>Comming Soon</p>
                    </div>
                </div>

            </div>



        </div>

    </div>
</section>
<!-- Section Services End -->

<!-- Section Gallary Start -->
@await Component.InvokeAsync("Galary")
<!-- Section Gallary End -->
<!-- About Start -->
<section class="about" id="about">
    <div class="container">

        <div class="main-txt">
            <h1>Về  <span>Chúng Tôi</span></h1>
        </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="./images/about-img.png" alt="">
                </div>
            </div>

            <div class="col-md-6 py-3 py-md-0">
                <h2>Đại lý du lịch hoạt động như thế nào</h2>
                <p>Công ty chúng tôi hoạt động theo hình thức uy tín và chuyên nghiệp đặt khách hàng lên hàng đầu về sự phục vụ và nhiệt tình từ đó khách hàng luôn yêu quý chúng tôi , đội ngũ nhân viên chúng tôi sẽ hết sức phục vụ quý khách hàng, chúng quý khách hàng có một kỳ nghĩ tuyệt vời.</p>
                <button id="about-btn">Đọc Thêm</button>
            </div>

        </div>

    </div>
</section>
<!-- About End -->
