        <!-- Home Section Start -->
<div class="home">
    <div class="content">
        <h5>Welcome To Viet Nam</h5>
        <h1>Visit <span class="changecontent"></span></h1>
        <a href="#book">Đặt Phòng</a>
    </div>
</div>
<!-- Home Section End -->

<!-- Section Packages Start -->
//component gợi ý
<section class="packages" id="packages">
    <div class="container">

        <div class="main-txt">
            <h1><span>G</span>ợi <Span>Ý</Span></h1>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <img src="./images/da-lat.png" alt="" class="package-image" onclick="redirectToDetail()">
                    <div class="card-body">
                        <h3>Đà Lạt</h3>
                        <p>Đà Lạt - Thác Bobla - Thung Lũng Tình Yêu Cầu Kính 7D - Vườn Bonsai Hoàng Long Ohayo | Mùa hoa ban</p>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star "></i>
                            <i class="fa-solid fa-star "></i>
                        </div>
                        <h6>Giá: <strong>$500</strong></h6>
                        <a href="#" onclick="redirectToDetail()">Book Now</a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <img src="./images/hue.png" alt="" class="package-image" onclick="redirectToDetail()">
                    <div class="card-body">
                        <h3>Huế</h3>
                        <p>Huế - Đại Nội - Thiên Mụ - La Vang - Động Phong Nha - Chùa Hương Tích - Đồi chè Thanh Chương - Làng Sen</p>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star "></i>
                            <i class="fa-solid fa-star "></i>
                        </div>
                        <h6>Giá: <strong>$500</strong></h6>

                        <a href="#" onclick="redirectToDetail()">Book Now</a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <img src="./images/sa-pa.png" alt="" class="package-image" onclick="redirectToDetail()">
                    <div class="card-body">
                        <h3>Sa Pa</h3>
                        <p>Du lịch Sapa 3 Ngày 2 Đêm: Cát Cát - Hàm Rồng - Fansipan</p>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star "></i>
                            <i class="fa-solid fa-star "></i>
                        </div>
                        <h6>Giá: <strong>$500</strong></h6>
                        <a href="#" onclick="redirectToDetail()">Book Now</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <img src="./images/vung-tau.png" alt="" class="package-image" onclick="redirectToDetail()">
                    <div class="card-body">
                        <h3>Vũng Tàu </h3>
                        <p>Vũng Tàu: Viếng 10 Cảnh Chùa - Hành Hương Lễ Phật - Suối Khoáng Nóng Bình Châu</p>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star "></i>
                            <i class="fa-solid fa-star "></i>
                        </div>
                        <h6>Giá: <strong>$500</strong></h6>
                        <a href="#" onclick="redirectToDetail()">Book Now</a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <img src="./images/nha-trang.png" alt="" class="package-image" onclick="redirectToDetail()">
                    <div class="card-body">
                        <h3>Nha Trang</h3>
                        <p>Nha Trang - Chùa Long Sơn - Biển Nhũ Tiên - Vinwonder - Làng Gốm Bàu Trúc - Khám Phá Cao Tốc Mới</p>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star "></i>
                            <i class="fa-solid fa-star "></i>
                        </div>
                        <h6>Giá: <strong>$500</strong></h6>
                        <a href="#" onclick="redirectToDetail()">Book Now</a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <img src="./images/phu-quoc.png" alt="" class="package-image" onclick="redirectToDetail()">
                    <div class="card-body">
                        <h3>Phú Quốc</h3>
                        <p>Cano 4 đảo khám phá thiên đường phía Nam Đảo + cáp treo Hòn Thơm</p>
                        <div class="star">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star "></i>
                            <i class="fa-solid fa-star "></i>
                        </div>
                        <h6>Giá: <strong>$500</strong></h6>
                        <a href="#" onclick="redirectToDetail()">Book Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Section Packages End -->
<!-- Section Services Start -->
<section class="services" id="services">
    <div class="container">

        <div class="main-txt">
            <h1><span>D</span>ịch <span>V</span>ụ</h1>
        </div>

        <div class="row" style="margin-top: 30px;">

            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-hotel"></i>
                    <div class="card-body">
                        <h3>Affordable Hotel</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-utensils"></i>
                    <div class="card-body">
                        <h3>Food & Drinks</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-bullhorn"></i>
                    <div class="card-body">
                        <h3>Safty Guide</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque.</p>
                    </div>
                </div>

            </div>



        </div>


        <div class="row" style="margin-top: 30px;">

            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-globe-asia"></i>
                    <div class="card-body">
                        <h3>Around The World</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-plane"></i>
                    <div class="card-body">
                        <h3>Fastest Travel</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 py-3 py-md-0">

                <div class="card">
                    <i class="fas fa-hiking"></i>
                    <div class="card-body">
                        <h3>Adventures</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, eaque.</p>
                    </div>
                </div>

            </div>



        </div>

    </div>
</section>
<!-- Section Services End -->
// component galry
<!-- Section Gallary Start -->
<section class="gallary" id="gallary">
    <div class="container">

        <div class="main-txt">
            <h1><span>G</span>allary</h1>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="./images/g1.png" alt="" height="230px">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="./images/g2.png" alt="" height="230px">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="./images/g3.png" alt="" height="230px">
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="./images/g4.png" alt="" height="230px">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="./images/g5.png" alt="" height="230px">
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="./images/g6.png" alt="" height="230px">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Section Gallary End -->
<!-- About Start -->
<section class="about" id="about">
    <div class="container">

        <div class="main-txt">
            <h1>About <span>Us</span></h1>
        </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="./images/about-img.png" alt="">
                </div>
            </div>

            <div class="col-md-6 py-3 py-md-0">
                <h2>How Travel Agency Work</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perferendis dolorem, numquam earum at nam beatae voluptate natus consectetur facere, saepe cupiditate ut exercitationem deserunt, facilis quam perspiciatis autem iure illo harum minima. Quas, vitae aperiam laudantium alias asperiores nulla rerum, nihil eveniet perferendis sint illum accusamus officiis aliquam nam.</p>
                <button id="about-btn">Read More...</button>
            </div>

        </div>

    </div>
</section>
<!-- About End -->
